# DS-SF-32 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [183]:
import pandas as pd
import os

# TODO

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [185]:
df = pd.read_csv(os.path.join('C:\Users\Lauren\GA\sfdat32\sfdat32\ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [186]:
# TODO
df.head()

#OR

print df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 3.  How many observations (i.e., rows) are in this dataset?

In [187]:
# TODO
print "Number of rows in the dataset (dataframe length):", len(df.index)

print
print "Or:"
print


#OR
print "Number of rows in the dataset (dataframe length):",  len(df)

print
print "Or, for specific observations per column:"
print

#To count number of obs in a given column
df.count()

Number of rows in the dataset (dataframe length): 153

Or:

Number of rows in the dataset (dataframe length): 153

Or, for specific observations per column:

Ozone      116
Solar.R    146
Wind       153
Temp       153
Month      153
Day        153
dtype: int64

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [188]:
# TODO

#Create a list of headings
a=list(df)

#print out list (would be better done with list comprehensions)
for heading in list(df):
    print heading

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [189]:
# TODO
#The following also includes the index column

print "Number of columns in the dataframe:",len(df.count())

Number of columns in the dataframe: 6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [190]:
# TODO

#Prints heading and n rows below
print df.head(n=2)

print "Output looks like heading with two rows beneath. Using the print function, however, removes the tabular/cellular format."

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
Output looks like heading with two rows beneath. Using the print function, however, removes the tabular/cellular format.

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [191]:
# TODO
print df.tail(2)
print
print "Output looks like heading with two rows beneath, without tabular formatting."

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

Output looks like heading with two rows beneath, without tabular formatting.

> ## Question 8.  What is the value of Ozone in the 47th row?

In [192]:
# TODO

#Because indices start with 0, the 47th row is actually index=46

df.get_value(46,'Ozone')

21.0

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [193]:
# TODO

print "One way to do it is to subtract the count of values from the indexed count:"
print
print len(df.index)-df.count()
print
print "It is easy to see that Ozone is missing 37 values."

One way to do it is to subtract the count of values from the indexed count:

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

It is easy to see that Ozone is missing 37 values.

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [194]:
# TODO

#By default, .mean ignores NaN values (skipna=true)
print df.Ozone.mean()

42.1293103448

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [195]:
# TODO
df.loc[(df['Ozone'] >31.0) & (df['Temp']>90.0)]

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [196]:
# TODO
print df['Solar.R'][(df['Ozone'] >31.0) & (df['Temp']>90.0)].mean()

212.8

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [197]:
# TODO
print df['Temp'][df['Month']==6].mean()

79.1

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [198]:
# TODO
df['Ozone'][df['Month']==5].max()

115.0